@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* { margin: 0; padding: 0; box-sizing: border-box; font-family: "Montserrat", sans-serif; overflow-x: hidden; }

p { margin: 0 5px; }

.nav-container { width: 100vw; display: flex; align-items: center; justify-content: center; background-color: #8d6b94; }

.nav-container .container-2 { width: 100vw; }

.nav-container .container-2 .nav-content { width: 100%; display: flex; align-items: center; justify-content: center; }

.nav-container .container-2 .nav-content .name h1 { color: #fff; font-size: 24px; font-weight: 400; }

.nav-container .container-2 .nav-content .logo { margin-left: 20px; }

.nav-container .container-2 .nav-content .logo svg { width: 110px; height: auto; margin: 10px 0; }

.main-container { width: 100vw; display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: #4bc196; }

.main-container ul { margin: 0px 20px 0 10px; list-style: none; display: flex; flex-direction: column; align-items: center; justify-content: center; }

.main-container ul li { display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 30px 10px; min-width: 200px; min-height: 200px; background-color: #9496a8; }

.main-container ul li p { text-align: center; }

.main-container ul li .contact-form { height: 1000px; }

.main-container ul li .text-content { color: #fff; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }

.main-container ul li .text-content h1 { font-size: 21px; text-align: center; margin: 10px 0; }

.main-container ul li .text-content p { margin: 0 auto; max-width: 90%; text-align: justify; padding-bottom: 15px; word-spacing: -0.03rem; }

.main-container ul li .text-content header { text-align: center; font-size: 21px; }

.main-container ul li .text-content header p { font-size: 16px; }

.main-container ul li:first-child { margin-top: 35px; }

.main-container ul li:nth-child(2) { max-width: 70%; margin-top: 20px; }

.footer-container { display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: #8d6b94; height: 100px; }

.footer-container .footer-content { width: 100vw; display: flex; flex-direction: column; align-items: center; justify-content: center; color: #fff; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); text-align: center; }

@media only screen and (max-width: 360px) { .nav-container .container-2 .nav-content .logo svg { width: 100px; }
  .nav-container .container-2 .nav-content .name h1 { font-size: 23px; }
  .nav-container .container-2 .nav-content .name h2 { font-size: 21px; } }

@media only screen and (max-width: 350px) { .nav-container .container-2 .nav-content .logo svg { width: 90px; }
  .nav-container .container-2 .nav-content .name h1 { font-size: 22px; } }

.form-horizontal { padding: 15px; }

.game-text { display: none; color: white; font-size: 18px; padding: 10px; }

@media only screen and (max-width: 580px) { canvas { display: none; }
  .game-text { text-align: center; display: flex; } }
